@model FinancialManager.Models.CategoryInputModel

@using (Ajax.BeginForm("AddCategory", new AjaxOptions() { HttpMethod = "POST", OnSuccess = "AddCategory(data);", OnFailure = "OnError(error)" }))
{
    @Html.TextBoxFor(x => x.Name)
    @Html.TextBoxFor(x => x.PlannedAmount)
    @Html.DropDownListFor(x => x.Currency, new List<SelectListItem>(ViewBag.CurrencyList))
    
    <button type="submit">Add</button>
}
